{% extends "layouts/base.html" %}

{% block title %} Data House {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="container-fluid py-4">
    <div class="row">
      <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <div class="card">
          <div class="card-header p-3 pt-2">
            <div class="icon icon-lg icon-shape bg-gradient-dark shadow-dark text-center border-radius-xl mt-n4 position-absolute">
              <i class="material-icons opacity-10">weekend</i>
            </div>
            <div class="text-end pt-1">
              <p class="text-sm mb-0 text-capitalize">Stock Counts</p>
              <h4 class="mb-0"> {{ stock_cnt.chn_stock_cnt + stock_cnt.us_stock_cnt }} </h4>
            </div>
          </div>
          <hr class="dark horizontal my-0">
          <div class="card-footer p-3">
            <p class="mb-0"><span class="text-success text-sm font-weight-bolder">+55% </span>than lask week</p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <div class="card">
          <div class="card-header p-3 pt-2">
            <div class="icon icon-lg icon-shape bg-gradient-primary shadow-primary text-center border-radius-xl mt-n4 position-absolute">
              <i class="material-icons opacity-10">person</i>
            </div>
            <div class="text-end pt-1">
              <p class="text-sm mb-0 text-capitalize">Etf Counts</p>
              <h4 class="mb-0"> {{ stock_cnt.chn_etf_cnt + stock_cnt.us_etf_cnt }} </h4>
            </div>
          </div>
          <hr class="dark horizontal my-0">
          <div class="card-footer p-3">
            <p class="mb-0"><span class="text-success text-sm font-weight-bolder">+3% </span>than lask month</p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <div class="card">
          <div class="card-header p-3 pt-2">
            <div class="icon icon-lg icon-shape bg-gradient-success shadow-success text-center border-radius-xl mt-n4 position-absolute">
              <i class="material-icons opacity-10">person</i>
            </div>
            <div class="text-end pt-1">
              <p class="text-sm mb-0 text-capitalize">New Clients</p>
              <h4 class="mb-0">3,462</h4>
            </div>
          </div>
          <hr class="dark horizontal my-0">
          <div class="card-footer p-3">
            <p class="mb-0"><span class="text-danger text-sm font-weight-bolder">-2%</span> than yesterday</p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6">
        <div class="card">
          <div class="card-header p-3 pt-2">
            <div class="icon icon-lg icon-shape bg-gradient-info shadow-info text-center border-radius-xl mt-n4 position-absolute">
              <i class="material-icons opacity-10">weekend</i>
            </div>
            <div class="text-end pt-1">
              <p class="text-sm mb-0 text-capitalize">Sales</p>
              <h4 class="mb-0">$103,430</h4>
            </div>
          </div>
          <hr class="dark horizontal my-0">
          <div class="card-footer p-3">
            <p class="mb-0"><span class="text-success text-sm font-weight-bolder">+5% </span>than yesterday</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row py-4">
      <div class="col-lg-12">
        <div class="card">

          <div class="card-header pb-0">
            <div class="row">
              <div class="col-lg-6">
                <h6>Data Update</h6>
                <p class="text-sm mb-0">
                  <i class="fa fa-check text-info" aria-hidden="true"></i>
                  <span class="font-weight-bold ms-1">30 done</span> this month
                </p>
              </div>
              <div class="col-lg-5 my-sm-auto nav-wrapper position-relative">
                <ul class="nav nav-pills nav-fill p-1" role="tablist">
                    <li class="nav-item"> 
                      <a class="nav-link mb-0 px-0 py-1 active" data-bs-toggle="tab" href="#chn" role="tab" aria-controls="cam1" aria-selected="true">
                        <i class="material-icons text-lg position-relative">home</i>
                        <span class="ms-1">China Market</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link mb-0 px-0 py-1" data-bs-toggle="tab" href="#us" role="tab" aria-controls="cam2" aria-selected="false">
                        <i class="material-icons text-lg position-relative">email</i>
                        <span class="ms-1">U.S. Market</span>
                      </a>
                    </li>
                    <li class="nav-item"> 
                      <a class="nav-link mb-0 px-0 py-1" data-bs-toggle="tab" href="#hk" role="tab" aria-controls="cam3" aria-selected="false">
                        <i class="material-icons text-lg position-relative">settings</i>
                        <span class="ms-1">HK Market</span>
                      </a>
                    </li>
                </ul>
              </div>
              <div class="col-lg-auto my-auto ms-4"> 
                <div class="dropdown float-lg-end">
                  <a href="javascript:;" class="text-secondary ps-4" id="dropdownCam" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-ellipsis-v"></i> 
                  </a>
                  <ul class="dropdown-menu dropdown-menu-end me-sm-n4 p-2" aria-labelledby="dropdownCam">
                      <li><a class="dropdown-item border-radius-md" href="javascript:;">Pause</a></li>
                      <li><a class="dropdown-item border-radius-md" href="javascript:;">Stop</a></li>
                      <li><a class="dropdown-item border-radius-md" href="javascript:;">Schedule</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item border-radius-md text-danger" href="javascript:;">Remove</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        
          <div class="card-body px-0 pb-2">
            <div class="tab-content" id="v-pills-tabContent">
              <div class="tab-pane fade show position-relative active" id="chn" role="tabpanel" aria-labelledby="chn">
                  <div class="top-0">
                    <div class="table-responsive">
                      <table class="table align-items-center mb-0">
                        <thead>
                          <tr>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Jobs</th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Update Time</th>
                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Tasks</th>
                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Completion</th>
                          </tr>
                        </thead>
                        <tbody class="height-200" style="overflow: auto">
                          {% for task in task_cnt %}
                            {% if task.market_id == "chn" %}
                              <tr>
                                <td>
                                  <div class="d-flex px-2 py-1">
                                    <div>
                                      <img src="/static/assets/img/small-logos/logo-xd.svg" class="avatar avatar-sm me-3" alt="xd">
                                    </div>
                                    <div class="d-flex flex-column justify-content-center">
                                      <h6 class="mb-0 text-sm"> {{task.taskname}}</h6>
                                    </div>
                                  </div>
                                </td>
                                <td>
                                  <div class="avatar-group mt-2">
                                    <a href="javascript:;" class="avatar avatar-xs rounded-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Ryan Tompson">
                                      <img src="/static/assets/img/team-1.jpg" alt="team1">
                                    </a>
                                    <a href="javascript:;" class="avatar avatar-xs rounded-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Romina Hadid">
                                      <img src="/static/assets/img/team-2.jpg" alt="team2">
                                    </a>
                                    <a href="javascript:;" class="avatar avatar-xs rounded-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Alexander Smith">
                                      <img src="/static/assets/img/team-3.jpg" alt="team3">
                                    </a>
                                    <a href="javascript:;" class="avatar avatar-xs rounded-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Jessica Doe">
                                      <img src="/static/assets/img/team-4.jpg" alt="team4">
                                    </a>
                                  </div>
                                </td>
                                <td class="align-middle text-center text-sm">
                                  <span class="text-xs font-weight-bold"> $14,000 </span>
                                </td>
                                <td class="align-middle">
                                  <div class="progress-wrapper align-middle w-75 mx-auto">
                                    <div class="progress-info">
                                      <div class="progress-percentage">
                                        <span class="text-xs font-weight-bold">60%</span>
                                      </div>
                                    </div>
                                    <div class="progress">
                                      <div class="progress-bar bg-gradient-info w-60" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                            {% endif %}
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
              </div>
              <div class="tab-pane fade position-relative" id="us" role="tabpanel" aria-labelledby="us">
                  <div class="top-0">
                    <div class="table-responsive">
                      <table class="table align-items-center mb-0">
                        <thead>
                          <tr>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Jobs</th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Update Time</th>
                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Tasks</th>
                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Completion</th>
                          </tr>
                        </thead>
                        <tbody class="height-200" style="overflow: auto">
                          {% for task in task_cnt %}
                            {% if task.market_id == "us" %}
                              <tr>
                                <td>
                                  <div class="d-flex px-2 py-1">
                                    <div>
                                      <img src="/static/assets/img/small-logos/logo-xd.svg" class="avatar avatar-sm me-3" alt="xd">
                                    </div>
                                    <div class="d-flex flex-column justify-content-center">
                                      <h6 class="mb-0 text-sm">{{task.taskname}}</h6>
                                    </div>
                                  </div>
                                </td>
                                <td>
                                  <div class="avatar-group mt-2">
                                    <a href="javascript:;" class="avatar avatar-xs rounded-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Ryan Tompson">
                                      <img src="/static/assets/img/team-1.jpg" alt="team1">
                                    </a>
                                    <a href="javascript:;" class="avatar avatar-xs rounded-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Romina Hadid">
                                      <img src="/static/assets/img/team-2.jpg" alt="team2">
                                    </a>
                                    <a href="javascript:;" class="avatar avatar-xs rounded-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Alexander Smith">
                                      <img src="/static/assets/img/team-3.jpg" alt="team3">
                                    </a>
                                    <a href="javascript:;" class="avatar avatar-xs rounded-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Jessica Doe">
                                      <img src="/static/assets/img/team-4.jpg" alt="team4">
                                    </a>
                                  </div>
                                </td>
                                <td class="align-middle text-center text-sm">
                                  <span class="text-xs font-weight-bold"> $14,000 </span>
                                </td>
                                <td class="align-middle">
                                  <div class="progress-wrapper w-75 mx-auto">
                                    <div class="progress-info">
                                      <div class="progress-percentage">
                                        <span class="text-xs font-weight-bold">60%</span>
                                      </div>
                                    </div>
                                    <div class="progress">
                                      <div class="progress-bar bg-gradient-info w-60" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                            {% endif %}
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
              </div>
              <div class="tab-pane fade position-relative" id="hk" role="tabpanel" aria-labelledby="hk">
                  <div class="top-0">
                    <div class="table-responsive">
                      <table class="table align-items-center mb-0">
                        <thead>
                          <tr>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Jobs</th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Update Time</th>
                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Tasks</th>
                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Completion</th>
                          </tr>
                        </thead>
                        <tbody class="height-200" style="overflow: auto">
                          {% for task in task_cnt %}
                            {% if task.market_id == "hk" %}
                              <tr>
                                <td>
                                  <div class="d-flex px-2 py-1">
                                    <div>
                                      <img src="/static/assets/img/small-logos/logo-xd.svg" class="avatar avatar-sm me-3" alt="xd">
                                    </div>
                                    <div class="d-flex flex-column justify-content-center">
                                      <h6 class="mb-0 text-sm">{{task.taskname}}</h6>
                                    </div>
                                  </div>
                                </td>
                                <td>
                                  <div class="avatar-group mt-2">
                                    <a href="javascript:;" class="avatar avatar-xs rounded-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Ryan Tompson">
                                      <img src="/static/assets/img/team-1.jpg" alt="team1">
                                    </a>
                                    <a href="javascript:;" class="avatar avatar-xs rounded-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Romina Hadid">
                                      <img src="/static/assets/img/team-2.jpg" alt="team2">
                                    </a>
                                    <a href="javascript:;" class="avatar avatar-xs rounded-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Alexander Smith">
                                      <img src="/static/assets/img/team-3.jpg" alt="team3">
                                    </a>
                                    <a href="javascript:;" class="avatar avatar-xs rounded-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Jessica Doe">
                                      <img src="/static/assets/img/team-4.jpg" alt="team4">
                                    </a>
                                  </div>
                                </td>
                                <td class="align-middle text-center text-sm">
                                  <span class="text-xs font-weight-bold"> $14,000 </span>
                                </td>
                                <td class="align-middle">
                                  <div class="progress-wrapper w-75 mx-auto">
                                    <div class="progress-info">
                                      <div class="progress-percentage">
                                        <span class="text-xs font-weight-bold">60%</span>
                                      </div>
                                    </div>
                                    <div class="progress">
                                      <div class="progress-bar bg-gradient-info w-60" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                            {% endif %}
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
              </div>
          </div>

          <div class="card-header pb-0">
            <div class="row">
              <div class="col-lg-6 col-7">
                <h6>Running Log</h6>
                <p class="text-sm mb-0">
                  <span class="font-weight-bold ms-1">start from:</span> this month
                </p>
              </div>
            </div>
          </div>

          <div class="card-body px-0 pb-2">
            <ul id="display_list" style="height: 350px; overflow: auto"></ul>
          </div>

        </div>
      </div>
    </div>

    {% include 'includes/footer.html' %}
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script src="/static/assets/js/plugins/jquery.min.js"></script>
  <script type="text/javascript">
    $("#market_id li").on("click", function(){
      var selected_market = $(this).attr("value");
        
    });
  </script>
  <script type="text/javascript">
    var source = new EventSource("/log");

    source.onmessage = function(event) {
      $('#display_list').prepend(
        '<li><h6 class="mb-1 text-dark font-weight-bold text-sm">' + event.data + '</h6></li>');
      // $('#progress').text(event.data+'%');
      // $('#progress').value(event.data);
    };
    // source.onopen = function(){
    //   alert('connection is opened.'+source.readyState);  
    // };
    // source.onerror = function(){
    //  alert('error: '+source.readyState);
    // };
  </script>

  <script src="/static/assets/js/plugins/chartjs.min.js"></script>


{% endblock javascripts %}
