# multiprocessing utils
# numba>=0.53.1
uvloop>=0.17.0

# database utils
psycopg2>=2.9.4
SQLAlchemy>=1.4.41
sqlalchemy_batch_inserts>=0.0.4

# data utils
pandas>=1.5.0
numpy>=1.21.5
demjson>=1.6

# date utils
pytz>=2022.4
tzlocal>=4.2

# http utils
requests>=2.27.1
aiohttp>=3.8.1
# aiohttp_client_cache>=0.3.0
retrying>=1.3.3

# market data
tushare>=1.2.85
akshare
alpaca_trade_api
exchange_calendars>=4.2.3

# monitoring utils
tqdm>=4.64.0

